body {
  width: 300px;
  padding: 10px;
  font-family: 'Roboto', Arial, sans-serif;
}

h1 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

#clickMe, #submit {
  margin: 10px 0 15px auto;
  padding: 10px 20px;
  background-color: #EB4511;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', Arial, sans-serif;
}

.favorite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
}

.favorite img {
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.favorite p {
  margin: 5px 0;
  flex-grow: 1;
  font-weight: bold;
}

.custom-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #EB4511;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  margin-left: 15px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.custom-checkbox:checked {
  background-color: #EB4511;
}

.custom-checkbox:checked::after {
  content: '\2714';
  font-size: 14px;
  color: white;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.d-none {
  display: none !important;
}


.checkmark-container {
  display: none;
  width: 60px;
  height: 60px;
  margin: 20px auto;
  border-radius: 50%;
  background-color: #EB4511;
  position: relative;
  align-items: center;
  justify-content: center;
}

.checkmark {
  width: 18px;
  height: 35px;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  position: absolute;
  top: 10%;
  left: 30%;
  right: 80%;
  transform: translate(-50%, -50%) rotate(45deg);
  animation: checkmark-animation 0.5s ease forwards;
}


@keyframes checkmark-animation {
  0% {
    opacity: 0;
    transform: rotate(45deg) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }
}

